<div class='w-11/12 m-auto'>
  <div class='shadow-xl rounded-lg overflow-hidden mb-6'>
    <h2 class='py-3 px-5 bg-gray-100'>節約回数</h2>
    <div class='p-4'>
      <%= column_chart @user.savings.group("to_char(created_at, 'yyyy/mm/dd')").count %>
    </div>
  </div>

  <div class='shadow-xl rounded-lg overflow-hidden mb-6'>
    <h2 class='py-3 px-5 bg-gray-100'>節約額トップ3<h2>
    <div class='p-4'>
      <table class='table-auto w-full'>
        <thead>
          <tr>
            <th class='px-4 py-2'>ラベル</th>
            <th class='px-4 py-2'>金額</th>
            <th class='px-4 py-2'>日付</th>
          </tr>
        </thead>
        <tbody>
          <% @savings_top_three.each do |saving| %>
            <tr>
              <td class='border px-4 py-2'><%= saving.label %></td>
              <td class='border px-4 py-2'><%= saving.money %></td>
              <td class='border px-4 py-2'><%= saving.created_at.strftime('%Y/%m/%d') %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class='shadow-xl rounded-lg overflow-hidden mb-6'>
    <h2 class='py-3 px-5 bg-gray-100'>節約額一覧<h2>
    <div class='p-4'>
      <table class='table-auto w-full'>
        <thead>
          <tr>
            <th class='px-4 py-2'>ラベル</th>
            <th class='px-4 py-2'>金額</th>
            <th class='px-4 py-2'>日付</th>
          </tr>
        </thead>
        <tbody>
          <% @savings.each do |saving| %>
            <tr>
              <td class='border px-4 py-2'><%= saving.label %></td>
              <td class='border px-4 py-2'><%= saving.money %></td>
              <td class='border px-4 py-2'><%= saving.created_at.strftime('%Y/%m/%d') %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @savings %>
    </div>
  </div>
</div>
