<div class='w-9/12 m-auto mt-4'>
  <% if notice.present? %>
    <p class='p-4 text-sm text-green-700 bg-green-100 rounded-md mb-6'>
      <span class='font-medium'>Success! </span> <%= notice %>
    </p>
  <% end %>

  <%= render 'partial/search_box' %>

  <div class='shadow-xl overflow-hidden border rounded-md mb-6'>
    <h2 class='py-3 px-5 bg-gray-100 border-b'>節約額一覧<h2>
    <%= turbo_frame_tag 'savings-list' do %>
      <div class='p-4'>
        <table class='table-auto w-full'>
          <thead>
            <tr>
              <th class='px-4 py-2 text-blue-500'><%= sort_link(@q, :label, 'ラベル') %></th>
              <th class='px-4 py-2'>カテゴリ</th>
              <th class='px-4 py-2 text-blue-500'><%= sort_link(@q, :money, '金額') %></th>
              <th class='px-4 py-2'>日付</th>
            </tr>
          </thead>
          <tbody>
            <% @savings.each do |saving| %>
              <tr>
                <td class='border px-4 py-2'><%= saving.label %></td>
                <td class='border px-4 py-2'><%= saving.category&.label_to_ja %></td>
                <td class='border px-4 py-2'><%= saving.money %></td>
                <td class='border px-4 py-2'><%= saving.created_at.strftime('%Y/%m/%d') %></td>
                <td class='w-56	text-right'>
                  <%= link_to t('savings.button.update'), edit_saving_path(saving.id),
                              class: 'cursor-pointer focus:outline-none text-teal-500 bg-white ring-1 ring-teal-500	hover:text-white hover:bg-teal-500 focus:ring-2 focus:ring-green-300 font-medium rounded-md text-sm px-5 py-2.5 mr-2 mb-2' %>
                  <%= button_to t('savings.button.destroy'), saving_path(saving.id), method: :delete,
                                                                                     class: 'cursor-pointer focus:outline-none ring-1 ring-rose-500	text-rose-500 bg-white hover:text-white hover:bg-rose-500 focus:ring-2 focus:ring-rose-300 font-medium rounded-md text-sm px-5 py-2.5 mr-2 mb-2' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @savings %>
      </div>
    <% end %>
  </div>
</div>
