<p style="color: green"><%= notice %></p>

<h1>節約額ランキング</h1>

<div id="savings">
  <div class="flex flex-col mt-8 items-center w-full">
    <div class="py-2 -my-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
      <div class="inline-block overflow-hidden align-middle border-b border-gray-200 shadow sm:rounded-lg">
        <table class="w-80">
          <thead>
            <tr>
              <th class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 . bg-blue-200">
                ユーザー名
              </th>
              <th class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 . bg-blue-200">
                節約金額
              </th>
              <th class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 . bg-blue-200">
                節約日
              </th>
            </tr>
          </thead>

          <tbody class="bg-white">
            <% @savings.each do |saving| %>
              <tr>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  <div class="text-sm leading-5 text-gray-500">
                    <%= saving.user.name %>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  <div class="text-sm leading-5 text-gray-500">
                    <%= saving.money %>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  <div class="text-sm leading-5 text-gray-500">
                    <%= saving.created_at %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @savings %>
      </div>
    </div>
  </div>
</div>

<%= link_to "New saving", new_saving_path %>
